<%= form_for @question, html: {id: :question_form}, remote: true do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<br>
<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
