<h1>question Page</h1>

<hr>
<div class="row">
  <div class="col-sm-8">
    <ul class="list-group well" id="questions-list">
      <% @questions.each do |question| %>
        <li class="list-group-item question-li"><strong><%= question.content %></strong>
          <span class="pull-right">
            <%= link_to "Question Page", question_path(question), :class => "btn btn-info btn-sm"%>
          </span>
          <div class="center-question">
            <% question.answers.order("id asc").each do |answer| %>
              <span align="middle" class="well answerInline"><% if answer.id == question.answers.order("id asc").first.id %><strong>First Option: </strong><% else %><strong>Second Option: </strong><% end %><%=answer.content%>
                <%= link_to "Vote", vote_answer_path(answer), :method => 'post', remote: true %>
              </span>
              <% if answer.id == question.answers.order("id asc")[0].id %>
              <% @this_question = question %>
              <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
              <div id="chart-<%=question.id.to_s%>" style="height: 300px;">
                <%= render :partial => 'pie_chart', :obect => @this_question %>
              </div>
                <h5 align="middle" class="answerInline">
                  First Option Votes: <span id="<%=answer.id.to_s%>upVote"><%=question.answers.order("id asc")[0].votes%></span></h5>
                <% if question.answers && question.answers.length > 1 %>
                  <% identification = answer.id + 1 %>
                  <h5 align="middle" class="answerInline">Second Option Votes: <span id="<%=identification.to_s%>upVote"><%=question.answers.order("id asc")[1].votes%></span></h5>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <br><br><br>
        </li>
        <br><br>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-4">
    <ul class="list-group well" id="comments-list">
      <% @questions.each do |question| %>
        <li class="list-group-item question-li">
          <br><br><br>
          <% @this_question = question %>
          <% @this_comment = question.comments.new %>
          <%= render :partial => 'comments/form', :obect => [@this_question, @this_comment] %>
          <ul class="list-group" id="<%=question.id%>comments_list">
            <% question.comments.order('id desc').limit(6).each do |comment| %>
                <li class="list-group-item"><%= comment.content %></li>
            <% end %>
          </ul>
          <br><br><br>
        </li>
        <br><br>
      <% end %>
    </ul>
  </div>
</div>
<hr>
<%= link_to "Add a question", new_question_path, :class => "btn-lg", :id => 'question-js', remote: true %>
