<h1>question Page</h1>
<hr>
<ul class="list-group well" id="questions-list">
  <% @questions.each do |question| %>
    <li class="list-group-item"><strong><%= question.content %></strong>
      <span class="pull-right">
        <%= link_to "Question Page", question_path(question), :class => "btn btn-info btn-sm"%>
      </span>
      <br>
      <br>
      <br>

      <% question.answers.order("id asc").each do |answer| %>
        <span align="middle" class="well answerInline"><%=answer.content%>
          <%= link_to "Vote", vote_answer_path(answer), :method => 'post', remote: true %>
        </span>
        <% if answer.id == question.answers.order("id asc")[0].id %>
          <h3 align="middle" class="answerInline">Left Votes: <span id="<%=answer.id.to_s%>upVote"><%=question.answers.order("id asc")[0].votes%></span></h3>
          <% identification = answer.id + 1 %>
          <h3 align="middle" class="answerInline">Right Votes: <span id="<%=identification.to_s%>upVote"><%=question.answers.order("id asc")[1].votes%></span></h3>
        <% end %>
      <% end %>

      <br><br><br>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to "Add a question", new_question_path, :class => "btn-lg", :id => 'question-js', remote: true %>
