<h1><%= @question.name %> Page</h1>

<ul class="list-group well" id="question-answers">
  <% @question.answers.each do |answer| %>
  <li class="list-group-item"><strong><%= answer.content %></strong></li>
  <% end %>
</ul>

<% if @question.answers.length < 2 %>
  <%= link_to "Add a answer", new_question_answer_path(@question), :class => "btn btn-success", :id => "first-answer", remote: true %>
<% else %>
  <h4>Limit of 2 answers</h4>
<% end %>

<br><br>
<div class="btn-group">
  <%= link_to "Edit", edit_question_path(@question), :class => "btn btn-primary" %>
  <%= link_to "Delete", question_path(@question), :class => "btn btn-primary", :data => {:confirm => "You Sure?", :method => 'delete'} %>
</div>

<hr>

<%= link_to "Back to Homepage", questions_path %>
