<% if @question.comments.length < 7 %>
  $('#<%=@question.id.to_s%>comments_list').prepend('<li class="list-group-item"><%=@comment.content%></li>');
  $('.commentInputText').val("");
<% else %>
  $('#<%=@question.id.to_s%>comments_list li:last').remove();
  $('#<%=@question.id.to_s%>comments_list').prepend('<li class="list-group-item"><%=@comment.content%></li>');
  $('.commentInputText').val("");
<% end %>
