<%= form_for [@question, @answer], html: {id: :answer_form}, remote: true do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <br>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
