<h1><%= @answer.name %> Page</h1>

<% if 1 == 0 %>
<ul class="list-group well">
  <% @answer.comments.each do |comment| %>
  <li class="list-group-item"><strong><%= comment.name %></strong> <%= link_to "View comment", answer_comment_path(@answer, comment), :class => "btn btn-info btn-sm pull-right"%></li>
  <% end %>
</ul>
<%end%>

<div class="btn-group">
  <%= link_to "Edit", edit_answer_path(@answer), :class => "btn btn-primary" %>
  <%= link_to "Delete", answer_path(@answer), :class => "btn btn-primary", :data => {:confirm => "You Sure?", :method => 'delete'} %>
  <%= link_to "Add a comment", new_answer_comment_path(@answer), :class => "btn btn-primary" %>
</div>

<hr>

<%= link_to "Back to question", question_path(@question) %>
