$('#<%= @answer.id.to_s %>upVote').replaceWith("<span id='<%=@answer.id.to_s%>upVote'><%= @answer.votes.to_s %></span>");
var secondVal = <%= @firstVal %>;
var firstVal = <%= @secondVal %>;
new Chartkick.PieChart("chart-<%=@question.id.to_s%>", [["First Option", firstVal], ["Second Option", secondVal]]);
